// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
h1 {
  font-size: 72pt;
}
h2 {
  font-size: 48pt;
}
h3 {
  font-size: 24pt;
}
h4 {
  font-size: 16pt;
}
h5 {
  font-size: 12pt;
}
h5 {
  font-size: 9pt;
}
p {
  font-size: 10pt;
}
h1, h2, h3, h4, h5, h6, {
  margin: 0pt;
  word-wrap: break-word;
}
