p {
  margin: 0pt;
}
body {
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  .row {
    margin: 6pt 24pt 6pt 24pt;
    width: 100%;
    display: flex;
    [class*="col-"] {
      float: left;
      flex-grow: 1;
      [class*="content-"] {
        // border: 1px solid;
      }
    }
  }
}



.col-01 { width: 005%; }
.col-02 { width: 010%; }
.col-03 { width: 015%; }
.col-04 { width: 020%; }
.col-05 { width: 025%; }
.col-06 { width: 030%; }
.col-07 { width: 035%; }
.col-08 { width: 040%; }
.col-09 { width: 045%; }
.col-10 { width: 050%; }
.col-11 { width: 055%; }
.col-12 { width: 060%; }
.col-13 { width: 065%; }
.col-14 { width: 070%; }
.col-15 { width: 075%; }
.col-16 { width: 080%; }
.col-17 { width: 085%; }
.col-18 { width: 090%; }
.col-19 { width: 095%; }
.col-20 { width: 100%; }
