// Specific CSS for your home-page
@import "components/background";

h1, h2, h3, h4, h5, h6, p {
  margin: 0pt;
}

a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  transition: all 250ms;
  &:hover {
    color: rgba(255,0,0,1);

  }
}

