// Specific CSS for your home-page
@import "components/background";
#home {
  margin-top: 66pt;
  padding-bottom: 72pt;
  [class*="content-"] {
    padding: 0pt 12pt;
    position: sticky;
    top: 72pt;
    }
    .content-photo {
      img {
        background: white;
        margin-bottom: 100pt;
        height: calc(500px + 66pt);
       }
    }
    .content-text {
      background: rgba(255, 255, 255, 0.95);
      text-align: right;
      border-left: 1px solid rgba(0,0,0,.5);
      border-top: 1px solid rgba(0,0,0,.5);
      padding: 24pt;
      height: 500px;
      margin-bottom: 140pt;
      text-align: left;
      overflow: scroll;
      column-count: 2;
      column-fill: auto;
      column-rule: 1px solid rgba(0,0,0,.5);
      p, h2, h3 {
        margin-bottom: 12pt;
      }
    }
}
