<button id="ipad" >
    <i class="fas fa-archway"></i>
    <div class="miniatures" draggable="false">
    </div>
</button>

  <div class="background" style="font-size: 5em;">

    <div id="circle" class="green"></div>
    <div id="circle" class="teal"></div>
  </div>
  <div id="miniatures" draggable="false">
    <div class="miniature" draggable="false">
      <span style="display:none;"></span>
  	  <img src="" draggable="false">
    </div>
  </div>
