<footer class="container">
  <div class="row">
    <div class="col">
      <h4>Contact</h4>
      <h6>
        +33768704270
        <br>quentin.gourdon@gmail.com
        <br>@QLGordon
      </h6>
    </div>
    <div class="col text-right">
      <h3>Code & design</h3>
    </div>
  </div>
</footer>
