<footer class="border-top text-center">
    <h6 class="mb-2 mt-5 mx-0">Graphisme & Web</h6>
    <i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i>
</footer>
