<footer class="border-top text-center">
    <h6 class="mb-2 mt-3 mx-0">Graphisme & Web</h6>
    <p style="font-size: 6pt;">
      All designs are made with absolute love
      <br>
    </p>

</footer>
