<footer>
<section class="container">
  <section class="row">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <article class="content-">
          <h4>Adresse Postale</h4>
          <h6>Quentin Gourdon <br> 17 bergasse, 1090 Wien <br>Autria</h6>
      </article>
    </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <article class="content-">
          <h4>Contact</h4>
          <h6> +33768704270<br>quentin.gourdon@gmail.com <br>@QLGordon</h6>
      </article>
    </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <article class="content-">
          <div class="content">
            <h3>Code & design</h3>
      </article>
    </div>
  </section>
</section>
<a style="display: none;" href="">
  <div id="action">
    <h3>↓</h3>
    <i class="fas fa-envelope"></i>
  </div>
</a>
</footer>
