<footer>
<section class="container">
  <section class="row">
      <div class="col-05">
        <article class="content-">
          <h4>Adresse Postale</h4>
          <h6>Quentin Gourdon <br> 17 bergasse, 1090 Wien <br>Autria</h6>
      </article>
    </div>
      <div class="col-05">
        <article class="content-">
          <h4>Contact</h4>
          <h6> +33768704270<br>quentin.gourdon@gmail.com <br>@QLGordon</h6>
      </article>
    </div>
      <div class="col-10">
        <article class="content-">
          <div class="content">
            <h2>Code & design</h2>
      </article>
    </div>
  </section>
</section>
<a href="">
  <div id="action">
    <h3>↓</h3>
    <i class="fas fa-envelope"></i>
  </div>
</a>
</footer>
