<footer class="border-top text-center">
    <h6 class="mb-2 mt-5 mx-0">Graphisme & Web</h6>
    <i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i>
    <p style="font-size: 6pt;">All design is made with absolute love <i style="display: block; transform: scale(0.2)translateY(-72pt);"><%= render 'shared/visage'%></i></p>

</footer>
