<header class="d-flex align-items-center justify-content-between fixed-top bg-white mb-2 px-5 shadow-sm" style="height: 24pt;">
<div>
  <%= link_to about_path do %>
    <i class="fas fa-info-circle m-3" style= "font-size: 12pt; transform: translateY(3pt);"></i>
  <% end %>

  <%= link_to root_path do %>
    <i class="fas fa-home m-3" style= "font-size: 12pt; transform: translateY(3pt);"></i>
  <% end %>
  <%= link_to project_path(@projects.sample) do %>
    <i class="fas fa-random m-3" style= "font-size: 12pt; transform: translateY(3pt);"></i>
  <% end %>
</div>
<div>

</div>
<div>
  <a href="https://www.instagram.com/qlgordon/" target="_blank">
    <i class="fab fa-instagram m-3" style= "font-size: 12pt; transform: translateY(3pt);"></i>
  </a>
  <a href="https://twitter.com/qlgordon" target="_blank">
    <i class="fab fa-twitter-square m-3" style= "font-size: 12pt; transform: translateY(3pt);"></i>
  </a>
  <a href="https://www.linkedin.com/in/qlgordon/" target="_blank">
    <i class="fab fa-linkedin m-3" style= "font-size: 12pt; transform: translateY(3pt);"></i>
  </a>
</div>
</header>

