<header class="d-flex align-items-center justify-content-between fixed-top bg-white mb-2 px-3 shadow-sm" style="height: 48pt; z-index: 30">
  <div class="navigation">
    <%= link_to about_path do %>
    <i class="fas fa-info-circle m-3"></i>
    <% end %>
    <%= link_to projects_path do %>
    <i class="fas fa-home m-3"></i>
    <% end %>
    <% if @projects %>
    <%= link_to project_path(@projects.sample) do %>
    <i class="fas fa-random m-3"></i>
    <% end %>
    <% end %>
  </div>
  <div class="social-media">
    <a href="https://www.instagram.com/qlgordon/" target="_blank">
      <i class="fab fa-instagram m-3"></i>
    </a>
    <a href="https://twitter.com/qlgordon" target="_blank">
      <i class="fab fa-twitter-square m-3"></i>
    </a>
    <a href="https://www.linkedin.com/in/qlgordon/" target="_blank">
      <i class="fab fa-linkedin m-3"></i>
    </a>
  </div>
</header>