<% if @project %>

<header class="d-flex align-items-center justify-content-between fixed-top bg-white shadow-sm mb-2">
    <a href="/projects" class="col text-left" style="width: 24pt; font-size: 24pt;">⇤</a>
  <div class="col justify-content-center align-items-center d-flex bg-white">
    <%= render 'shared/visage'%>
  </div>
  <h2 class="col text-right my-4 mx-0" style="font-size: 16pt;"><%= @project.title %></h2>
</header>

<% elsif @projects %>

<header class="d-flex align-items-center justify-content-between fixed-top bg-white shadow-sm mb-2">
    <a class="col text-left" href="/about"><h6>QLGordon - site en construction</h6></a>
    <div class="col justify-content-center align-items-center d-flex bg-white">
      <%= render 'shared/visage' %>
    </div>
    <h4 class="col text-right my-4 mx-0">Graphisme & Web</h4>
</header>

<% else %>
<header class="d-flex align-items-center justify-content-between fixed-top bg-white shadow-sm mb-2">
    <a  class="col text-left" href="/projects"><h4>mes projets</h4></a>
    <h4 class="col text-right my-4 mx-0">Graphisme & Web</h4>
</header>

<% end %>

