<header>
  <section class="container">
  <section class="row">
    <article class="col-xs-6 col-sm-4 col-md-1">
      <a href="/">
      <div class="content">
        <div id="logo-d">
          <span>c</span>
          <span>o</span>
          <span>d</span><br>
          <span>e</span>
          <span>s</span>
          <span>i</span><br>
          <span>g</span>
          <span>n</span>
          <span>∓</span>
        </div>
      </div>
      </a>
    </article>
    <article class="col-xs-6 col-sm-4 col-md-3">
    <nav class="row">
          <ul style="color: red;">
            <li>➝ <a href="/projects"> pt ∓ px</a></li>
            <li>➝ <a href="/projects"> vecteurs</a></li>
            <li>➝ <a href="/projects"> motions</a></li>
            <!-- <li>➝ <a href="/"> formations</a></li> -->
          </ul>
    </nav>
    </article>
    <article class="hidden-xs col-sm-hidden col-md-5">
      <div class="content">
        <h1>Graphisme ∓ Web</h1>
        <h6>by QLGordon</h6>
      </div>
    </article>
    <article class="hidden-xs col-md-3">
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>

