<% if @project %>

<header>
  <a href="/projects" style="position: fixed; top: 3pt; left: 3pt; font-size: 3em;">⇤</a>
</header>

<% elsif @projects %>

<header>
  <a href="/about"><h6>QLGordon - site en construction</h6></a>
  <h3>Graphisme & Web</h3>
</header>

<% else %>

<header id="navbar" class="content">
  <a href="/projects"><h3>mes projets</h3></a>
  <h3>QLGordon </h3>
  <h6>- site en construction</h6>
  <p>Graphisme & Web</p>
</header>

<% end %>

