<% if @project %>
<header>
  <section class="container">
  <section class="row">
    <article class="hidden-xs col-sm-hidden col-md-8">
      <div class="content">
        <a href="/projects"><h1>QLGordon</h1>
        <h6>retour aux projets</h6></a>
      </div>
    </article>
    <article class="hidden-xs col-md-4">
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>
<% elsif @projects %>
<header>
  <section class="container">
  <section class="row">
    <article class="hidden-xs col-sm-hidden col-md-8">
      <div class="content">
        <a href="/about"><h1>QLGordon</h1>
        <h6>graphisme & web</h6></a>
      </div>
    </article>
    <article class="hidden-xs col-md-4">
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>

<% else %>
<header>
  <section class="container">
  <section class="row">
    <article class="hidden-xs col-sm-hidden col-md-8">
      <div class="content">
        <a href="/projects"><h1>QLGordon</h1>
        <h6>retours aux projets</h6></a>
      </div>
    </article>
    <article class="hidden-xs col-md-4">
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>
<% end %>

