<% if @project %>
<header>
  <section class="container">
  <section class="row">
    <article class="hidden-xs col-sm-hidden col-md-5">
      <div class="content">
        <a href="/projects"><h1>QLGordon</h1>
        <h6>graphisme & web</h6>
        <br>
        <h6>↤ retours aux projets</h6></a>
      </div>
    </article>
    <article class="hidden-xs col-sm-hidden col-md-2">
      <img style="
        width: 33%;
        height: 50%;
        border-radius: 50%;
        /*border: 4px solid;*/
        display: block;
        margin: auto;"
    src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548406285/codesign/Piano2.gif" alt="">
    </article>
    <article class="hidden-xs col-md-5">
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>
<% elsif @projects %>
<header>
  <section class="container">
  <section class="row">
    <article class="hidden-xs col-sm-hidden col-md-5">
      <div class="content">
        <a href="/about"><h1>QLGordon</h1>
        <h6>graphisme & web</h6>
        <br>
        <h6>⌘ Qui suis-je ?</h6></a>
      </div>
    </article>
    <article class="hidden-xs col-sm-hidden col-md-2">
      <img style="
        width: 33%;
        height: 50%;
        border-radius: 50%;
        border: 4px solid red;
        display: block;
        margin: auto;"
    src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1549636860/codesign/codesign_Piano-Piano-red.gif" alt="">
    </article>
    <article class="hidden-xs col-md-5">
      <h4 style="text-align: right" >Mes projets</h4>
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>

<% else %>
<header>
  <section class="container">
  <section class="row">
    <article class="hidden-xs col-sm-hidden col-md-5">
      <div class="content">
        <a href="/projects"><h1>QLGordon</h1>
          <h6>graphisme & web</h6>
          <br>
        <h6>↤ retours aux projets</h6></a>
      </div>
    </article>
    <article class="hidden-xs col-sm-hidden col-md-2">
      <img style="
        width: 100%;
        height: 50%;
        /*border-radius: 50%;*/
        /*border: 4px solid;*/
        display: block;
        margin: auto;"
    src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548263285/qlgordon.png" alt="">
    </article>
    <article class="hidden-xs col-md-5">
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>
<% end %>

