<% if @project %>
<header>
  <section class="container">
  <section class="row">
    <article class="col-xs-6 col-sm-6 col-md-4">
      <div class="content">
        <a href="/projects"><h1></h1>
        <h3>mes projets</h3></a>
      </div>
    </article>
    <article class="hidden-xs hidden-sm col-md-8">
    <h2 style="font-size: 14pt; text-align: right;"><%= @project.title %></h2>

    </article>
  </section>
  </section>
</header>
<% elsif @projects %>
<header>
  <section class="container">
  <section class="row">
    <article class="col-xs-12 col-sm-6 col-md-6">
      <div class="content">
        <a href="/about"><h1>QLGordon</h1>
        <h5>⌘ Qui suis-je ?</h5></a>
      </div>
    </article>
    <article class="hidden-xs hidden-sm hidden-md col-lg-2">
      <h4 style="font-size: 24pt;">Graphisme & Web</h4>
    </article>
    <article class="hidden-xs col-sm-6 col-md-6">
      <h4 style="text-align: right" >Mes projets</h4>
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>

<% else %>
<header>
  <section class="container">
  <section class="row">
    <article class="col-xs-6 col-sm-6 col-md-4">
      <div class="content">
        <a href="/projects"><h1></h1>
        <h3>mes projets</h3></a>
      </div>
    </article>
    <article class="col-xs-6 col-sm-6 col-md-4">
      <h4 style="font-size: 48pt;">QLGordon</h4>
      <h5 style="text-align: center;">Graphisme & Web</h5>
    </article>
    <article class="hidden-xs col-sm-6 col-md-4">
      <div class="content-sm" >
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
    </article>
  </section>
  </section>
</header>
<% end %>

