<% if @project %>
<% if @project.colors.first %>
<header id="navbar" style=" width: 1pt; height: 1pt;">
  <% else %>
  <header>
<% end %>
<a href="/projects" style="position: fixed; top: 3pt; left: 3pt; font-size: 3em;">⇤</a>
</header>

<% elsif @projects %>

<header id="navbar">
  <a href="/about"><h6>QLGordon</h6></a>
  <h3>Graphisme & Web</h3>
</header>

<% else %>

<header id="navbar">
  <a href="/projects"><h1></h1>
  <h3>mes projets</h3></a>
  <h3>QLGordon</h3>
  <p>Graphisme & Web</p>
</header>
<% end %>

