<section class="row">
  <article class="col-sm-12 col-md-4">
    <div class="content-text">
      <h6>Social media publications</h6>
      <hr>
      <h3>Ambassade de France</h3>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <span style="color: rgb(247, 118, 25)">█</span>
      <span style="color: rgb(0, 145, 217)">█</span>
      <span style="color: rgb(34, 31, 28)">█</span>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Port-au-Prince • Haïti</h6>
      <h6>2016</h6>
      <hr>
      <a href="/">∓</a>
    </div>
  </article>
  <article class="col-sm-12 col-md-7">
    <div class="content-img">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548407831/Ambafranceht/20mars.png" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548407811/Ambafranceht/Molie%CC%80reCFI.png" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548408415/Ambafranceht/14juillet.gif" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548408588/Ambafranceht/DarhjEMWsAADF8n.jpg" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548408619/Ambafranceht/DaHp6N9XcAAvW6W.jpg" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548398327/institut_francais/FrancoGif2.gif" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548408674/Ambafranceht/DXxPXOjVwAA5MUT.jpg" alt="">
    </div>
  </article>
  <article class="hidden-xs col-sm-12 col-md-1">
    <div class="content-preview">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter-square"></i>
    </div>
  </article>
</section>
