<section class="row">
  <article class="col-06">
    <div class="content-text">
      <h6>Matériel de bureau</h6>
      <hr>
      <h3>Diplomatie Solidaire</h3>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <span style="color: rgb(251, 31, 20)">█</span>
      <span style="color: rgb(0, 29, 138)">█</span>
      <span style="color: rgb(34, 31, 28)">█</span>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Port-au-Prince • Haïti</h6>
      <h6>2016</h6>
      <hr>
      <a href="/">∓</a>
    </div>
  </article>
  <article class="col-14">
    <div class="content-img">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548389003/dipomatie_solidaire/p_mu_diplomatie-solidaire.png" alt="">
    </div>
  </article>
</section>
