<section class="row">
  <article class="col-05">
    <div class="content-text"><h3>Haïti Piano Project</h3>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <span style="color: rgb(253, 215, 3)">█</span>
      <span style="color: rgb(24, 122, 179)">█</span>
      <span style="color: rgb(26, 39, 51)">█</span>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Port-au-Prince • Haïti</h6>
      <h6>2016</h6>
      <hr>
      <a href="/">∓</a>
    </div>
  </article>
  <article class="col-10">
    <div class="content-img">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350936/a_hpp.png" alt="">
    </div>
  </article>
  <article class="col-05">
    <div class="content-preview">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350936/a_hpp.png" alt="">
    </div>
  </article>
</section>
