<section class="row">
  <article class="col-sm-12 col-md-4">
    <div class="content-text">
      <h6>Social media publications</h6>
      <hr>
      <h3>Institut Français</h3>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <span style="color: rgb(247, 118, 25)">█</span>
      <span style="color: rgb(0, 145, 217)">█</span>
      <span style="color: rgb(34, 31, 28)">█</span>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Port-au-Prince • Haïti</h6>
      <h6>2016</h6>
      <hr>
      <a href="/">∓</a>
    </div>
  </article>
  <article class="col-sm-12 col-md-7">
    <div class="content-img">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392027/institut_francais/29101317_1680760195314131_4019378000737861632_n.png" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392026/institut_francais/21559112_1510447122345440_8189747391438187022_n.png" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350729/institut_francais/fff.gif" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392026/institut_francais/26231752_1616953958361422_6683052511486801653_n.png" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392025/institut_francais/33965548_1759368920786591_3864126353305501696_n.jpg" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392025/institut_francais/29497911_1691545700902247_1244973558682091520_n.jpg" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352754/institut_francais/noel_ifhpap.jpg" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548408858/institut_francais/DWFt5P9W0AEEDWT.jpg" alt="">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548407712/institut_francais/foot.png" alt="">
    </div>
  </article>
  <article class="hidden-xs col-sm-12 col-md-1">
    <div class="content-preview">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter-square"></i>
    </div>
  </article>
</section>
