<section class="row">
  <article class="hidden-xs col-md-1">
    <div class="content-logo">
      <%= svg 'kosmika/kosmika_c' %>
    </div>
  </article>
  <article class="col-sm-12 col-md-4">
    <div class="content-text">
      <h6>Logo</h6>
      <hr>
      <h3>Kosmika</h3>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <span style="color: rgb(251, 186, 0">█</span>
      <span style="color: black">█</span>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Port-au-Prince • Haïti</h6>
      <h6>2016</h6>
      <hr>
      <a href="/">∓</a>
    </div>
  </article>
  <article class="col-sm-12 col-md-7">
    <div class="content-img">
      <%= svg 'kosmika/kosmika' %>
      <%= svg 'kosmika/logo' %>
      <%= svg 'kosmika/typo' %>
    </div>
  </article>
</section>
