<section class="row">
  <article class="col-06">
    <div class="content-text">
      <h6>Video</h6>
      <hr>
      <h3>Workshop Antipod</h3>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <span style="color: rgb(247, 118, 25)">█</span>
      <span style="color: rgb(0, 145, 217)">█</span>
      <span style="color: rgb(34, 31, 28)">█</span>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Rennes • France</h6>
      <h6>2016</h6>
      <hr>
      <a href="/">∓</a>
    </div>
  </article>
  <article class="col-12">
    <div class="content-video">
      <iframe src="https://player.vimeo.com/video/66226960" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </article>
  <article class="col-01">
    <div class="content-preview">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter-square"></i>
    </div>
  </article>
</section>
