    <section class="row">
      <article class="col-02">
        <div class="content-logo">
          <%= svg 'spark/spark_c' %>
        </div>
      </article>
      <article class="col-05">
        <div class="content-text">
          <h6>Logo</h6>
          <hr>
          <h3>Spark</h3>
          <hr>
          <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
          </p>
          <hr>
          <span style="color: rgb(9, 115, 255)">█</span>
          <span style="color: rgb(90, 225, 183)">█</span>
          <hr>
          <i class="fab fa-facebook-square" style="color: black;"></i>
          <i class="fab fa-instagram" style="color: black;"></i>
          <i class="fab fa-behance-square" style="color: black;"></i>
          <i class="fab fa-twitter-square" style="color: black;"></i>
          <i class="fab fa-linkedin" style="color: black;"></i>
          <hr>
          <h6>Port-au-Prince • Haïti</h6>
          <h6>2016</h6>
          <hr>
          <a href="/">∓</a>
        </div>
      </article>
      <article class="col-13">
        <div class="content-img">
          <%= svg 'spark/spark' %>
          <%= svg 'spark/spar' %>
          <%= svg 'spark/k' %>
        </div>
      </article>
    </section>
