<main id="about">
  <section class="container">
    <section id="me" class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10 about-description">
          <h3>Expérience</h3>
        <div>
          <p>Fort de <strong>nombreuses années d'expérience en design graphique</strong>, j'ai eu la chance de travailler aux bureaux comme en remote pour différents secteurs d'activité : un fournisseur d'accès internet (Hainet - 2ans), un Institut culturel (Institut Français - 2 ans), deux agences de pub (DDB - 6 mois, StarCom - 1 an), festivals(Festival International de Piano d'Haïti 1 & 2, Festival du Film Francophone en Haïti 1, 2 & 3), évènements (Semaine de l'Europe, 14 juillet en Ambassade ...), créations de start-Up(Sibylline-escapade, Spark), associations(MPP, Haïti Piano Project) </p>
          <hr>
          <p>Alumni du <strong>Batch #200 du Wagon</strong> en 2019 je maitrise les langages de programation tel que JavaScript, CSS, HTML, Ruby, React... </p>
        </div>
          <h3>Formation</h3>
        <div>
          <p><strong>Graphiste et Dev, j'aime comprendre les objectifs de mes clients.</strong>Après 3 ans d'expatriation en Haïti, me voilà fraichement installé à Paris. Passioné de Design au sens large, je suis expret en graphisme. Autant à l'aise dans les problématiques internes et externes, j'apporte un soin particulier quant à la pédagogie que nécéssite la discipline graphique. Motion design, charte graphique, campagnes publicitaires, packaging, signalétique ... tout m'interesse. J'ai eu la chance de travailler pour différents secteurs, entreprises privées, institutions publiques, artistes, associations et start-up.</p>
        </div>
          <h3>Moi</h3>
        <div>
          <p>Le graphisme souffre d'un mythe qui voudrait que le graphiste est un artiste. Mais non, je ne le pense pas. Le propos qui sert comme base de travail est le votre. Il existe des milliers de règles pour faire une bonne publicité, un bon logo ou une bonne signalétique. L'important c'est de comprendre les choix graphiques. Comprendre c'est maîtriser. Rien n'est moche, tout est améliorable.</p>
        </div>
      </div>
    </section>

    <section id="skills" class="row">
      <div class="col-xs-12 col-md-4">
        <h4>Maitrise des logiciels de graphisme</h4>
        <% @skills_design.svgs.each do |svg| %>
        <span>
        <img src= "<%= svg.svg %>" alt="">
        </span>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4>Maitrise des langages de programmation</h4>
        <% @skills_web.svgs.each do |svg| %>
        <span>
        <img src= "<%= svg.svg %>" alt="">
        </span>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
      <h4>Formations</h4>
      <% @formations.svgs.each do |svg| %>
      <span>
      <img src= "<%= svg.svg %>" alt="">
      </span>
      <% end %>
      </div>
    </section>
    <section id="clients" class="row">
      <div class="col-xs-12 col-md-12">
        <h4>Ils m'ont fait confiance</h4>
        <% @clients.shuffle.each do |client| %>
        <% if client.svgs.first %>
        <span>
        <img src= "<%= client.svgs.first.svg %>" alt="">
        </span>
        <% end %>
        <% end %>
      </div>
    </section>
  </section>
</main>
