<main id="about">
  <section class="container">
    <section id="me" class="row">

      <div class="col-xs-12 col-md-4">
      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548263285/qlgordon.png" alt="">
      </div>
      <div class="col-xs-12 col-md-8">
        <h3>➊ Graphiste & Dev</h3>
        <p>Né à Angers en 1990, diplômé de l' <strong>Institut Supérieur des Arts Appliquées</strong> à Rennes en 2013 puis participant au <strong>Batch #200 du Wagon</strong> en 2019 où j'ai appris la programmation, j'aime apporter mes compétences dans vos projets. Créatif et curieux, je suis force de proposition. Partenaire de plusieurs entreprises et institutions, j'ai durant plus de 5 ans aidé de nombreux client à s'épanouir dans leur image et propos.</p>
        <h3>➋ Expérimenté & curieux</h3>
        <p><strong>Graphiste et Dev, j'aime comprendre les objectifs de mes clients.</strong><br>Après 3 ans d'expatriation en Haïti, me voilà fraichement installé à Paris. Passioné de Design au sens large, je suis expret en graphisme. Autant à l'aise dans les problématiques internes et externes, j'apporte un soin particulier quant à la pédagogie que nécéssite la discipline graphique. Motion design, charte graphique, campagnes publicitaires, packaging, signalétique ... tout m'interesse. J'ai eu la chance de travailler pour différents secteurs, entreprises privées, institutions publiques, artistes, associations et start-up.</p>
        <h3>➌ Bienvelliant & pédagogue</h3>
        <p>Le graphisme souffre d'un mythe qui voudrait que le graphiste est un artiste. Mais non, je ne le pense pas. Le propos qui sert comme base de travail est le votre. Il existe des milliers de règles pour faire une bonne publicité, un bon logo ou une bonne signalétique. L'important c'est de comprendre les choix graphiques. Comprendre c'est maîtriser. Rien n'est moche, tout est améliorable.</p>
      </div>
    </section>

    <section id="skills" class="row">
      <div class="col-xs-12 col-md-4">
        <h4>Maitrise des logiciels de graphisme</h4>
        <% @skills_design.svgs.each do |svg| %>
        <span>
        <img src= "<%= svg.svg %>" alt="">
        </span>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4>Maitrise des langages de programmation</h4>
        <% @skills_web.svgs.each do |svg| %>
        <span>
        <img src= "<%= svg.svg %>" alt="">
        </span>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
      <h4>Formations</h4>
      <% @formations.svgs.each do |svg| %>
      <span>
      <img src= "<%= svg.svg %>" alt="">
      </span>
      <% end %>
      </div>
    </section>
    <section id="clients" class="row">
      <div class="col-xs-12 col-md-12">
        <h4>Ils m'ont fait confiance</h4>
        <% @clients.shuffle.each do |client| %>
        <% if client.svgs.first %>
        <span>
        <img src= "<%= client.svgs.first.svg %>" alt="">
        </span>
        <% end %>
        <% end %>
      </div>
    </section>
  </section>
</main>
