<main id="about">
  <section class="container">
    <section id="me" class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8 about-description">
        <div>
          <h3>Expérience</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nostrum repellendus id voluptatem ea laborum quaerat fugit at aliquam consequuntur, quidem est quos debitis inventore ullam, eos aspernatur voluptatibus aperiam. ipsum dolor sit amet, consectetur adipisicing elit. Quo inventore fugit odit id voluptates consequuntur consectetur laudantium, iusto explicabo est corrupti incidunt, a? Tempore quia asperiores labore dolorem, et laudantium.</p>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus in rerum autem officiis dolorem magnam nisi neque deserunt, optio pariatur accusantium voluptates corporis. Ab nihil modi, cum iure blanditiis rerum. ipsum dolor sit amet, consectetur adipisicing elit. Esse itaque eos, similique quisquam eaque unde repudiandae beatae earum possimus nisi assumenda illum molestiae sapiente vel dolorem cum ut, explicabo atque.</p>
        </div>
        <div>
          <h3>Formation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus consectetur assumenda laudantium, vitae sed veniam quisquam laborum est natus et ea voluptates sequi quo architecto distinctio nobis necessitatibus numquam sit. ipsum dolor sit amet, consectetur adipisicing elit. Nulla quidem aliquam, iusto quae! Nemo at, nostrum laboriosam necessitatibus molestias consequatur facere consequuntur placeat quidem doloremque aspernatur, ratione culpa magnam sapiente.</p>
        </div>
        <div>
          <h3>À propos</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque asperiores in saepe voluptatum iure magnam neque. Iure fugit aperiam sequi, voluptates dolores consequuntur, quam cum soluta laudantium, iste quas debitis. ipsum dolor sit amet, consectetur adipisicing elit. Rem ipsa aliquid facere quae! Pariatur perferendis sequi fugit incidunt, et temporibus nesciunt, ab voluptatibus suscipit repudiandae, nobis consectetur nostrum. Suscipit, id!</p>
        </div>
      </div>
      <div class="col-xs-2"></div>
    </section>

    <section id="skills" class="row">
      <div class="col-xs-12 col-md-4">
        <h4>Maitrise des logiciels de graphisme</h4>
        <% @skills_design.svgs.each do |svg| %>
        <span>
        <img src= "<%= svg.svg %>" alt="">
        </span>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <h4>Maitrise des langages de programmation</h4>
        <% @skills_web.svgs.each do |svg| %>
        <span>
        <img src= "<%= svg.svg %>" alt="">
        </span>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
      <h4>Formations</h4>
      <% @formations.svgs.each do |svg| %>
      <span>
      <img src= "<%= svg.svg %>" alt="">
      </span>
      <% end %>
      </div>
    </section>
    <section id="clients" class="row">
      <div class="col-xs-12 col-md-12">
        <h4>Ils m'ont fait confiance</h4>
        <% @clients.shuffle.each do |client| %>
        <% if client.svgs.first %>
        <span>
        <img src= "<%= client.svgs.first.svg %>" alt="">
        </span>
        <% end %>
        <% end %>
      </div>
    </section>
  </section>
</main>
