<style>
</style>
<main id="design">
  <div class="intro">
    <h1>Le but premier du design est d’<strong>inventer</strong>, d’<strong>améliorer</strong> ou de <strong>faciliter</strong> l’usage ou le processus d’<strong class="tonic-1">un élément</strong> ayant à interagir avec <strong class="tonic-2">un produit</strong> ou un service matériel ou virtuel. <br><a href="https://fr.wikipedia.org/wiki/Design" target="_blank">source</a></h1>
  </div>
  <div id="legend">
    <%= render "shared/this_is_app" %>
    <%= render "shared/it_works_with" %>
  </div>
  <section id="app">
    <%= render "shared/app" %>
  </section>
</main>
