
<div id="logo-c">
  <table id="logo_codesign">
    <tr><td>c</td><td>o</td><td>d</td></tr>
    <tr><td>e</td><td>s</td><td>i</td></tr>
    <tr><td>g</td><td>n</td><td>âˆ“</td></tr>
  </table>
</div>

<% color = ["rgba(255,237,000)", "rgba(249,38,63)", "rgba(0,138,201)", "rgba(0,40,206)", "rgba(55,237,183)"] %>
<% graphics = "ð“€²ð“€–ð“€¶ð“”ð“‡ð“€«ð“€Œð“€žð“„€ð“‚ƒð“‚„ð“·ð“¸ð“‚Šð“‚ˆ" %>

<section id="bg-graphic">

<% 1000.times do %>
  <span id="graphic" style="color: <%= (color.shuffle)[3] %>; font-size: <%= (12..72).to_a.sample %>pt;">

    <%= graphics.split("").sample %>
  </span>
<% end %>

</section>
