<main id="home">
<section class="container">
  <section class="row">
      <div class="col-20">
        <article class="content-call">
          <h1>Besoin d'un designer qui sait coder ?</h1>
        </article>
      </div>
  </section>
  <section class="row">
      <div class="col-05">
      <article class="content">
        <h3>↓ vecteurs ↓</h3>
        <!-- <div class="row"> -->
        <%= svg 'hainet/hainet' %>
        <%= svg 'spark/spark' %>
        <%= svg 'diplomatie_solidaire/diplomatie_solidaire' %>
        <%= svg 'kosmika/kosmika' %>
        <!-- </div> -->
      </article>
    </div>
      <div class="col-05">
      <article class="content">
        <h3>↓ pt ∓ px ↓</h3>
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350870/hainet_mobil.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352753/festival_film_francophone.jpg" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352754/noel_ifhpap.jpg" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352859/Testetiquette2.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350936/a_hpp.png" alt="">
      </article>
    </div>
      <div class="col-05">
      <article class="content">
        <h3>↓ motions ↓</h3>
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350729/fff.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350810/KillYourGender.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352688/Piano.gif" alt="">
      </article>
    </div>
      <div class="col-05">
      <article class="content-formation">
        <h3>↓ formations ↓</h3>
        <h4>→ motion</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
        <h4>→ vecteur</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
        <h4>→ graphisme</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
        <h4>→ photographie</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
      </article>
    </div>
  </section>
  </section>
</main>
