
<% @projects.each do |project| %>
<div class="card shadow border-0">
  <div class="row">
    <h4 class=" col card-title"><%= project.title %></h4>
  </div>
<%= link_to project_path(project) do %>
  <img src="<%= project.photo %>" class="card-img-top" alt="...">
  <div class="card-body bg-white">
    <% project.works.each do |work| %>
    <div class="card-text">
      <h4><%= work.title %></h4>
    </div>
    <% end %>
  </div>
<% end %>
</div>
<% end %>
