
<% @projects.each do |project| %>
<%= link_to project_path(project) do %>
<div class="card shadow border-0">
  <img src="<%= project.photo %>" class="card-img-top" alt="...">
  <div class="card-body bg-white">
    <h4 class="card-title py-3 px-4"><%= project.title %></h4>
    <p class="card-text py-3 px-4"><%= project.description %></p>
  </div>
</div>
<% end %>
<% end %>
