<div class="card-columns">
<% @projects.each do |project| %>
<div class="card" style="width: 288pt;">
<%= link_to project_path(project) do %>
  <img src="<%= project.photo %>" class="card-img-top" alt="...">
<% end %>
  <div class="card-body">
    <h5 class="card-title"><%= project.title %></h5>
    <p class="card-text"><%= project.description %></p>
  </div>
</div>
<% end %>
</div>
