.banner {
  max-height: 100vh;
  width: 100%;
  top: 0pt;
  object-fit: cover;
}
.a-b-left {
  position: absolute;
  left: 48pt;
  bottom: 48pt;
}
.a-b-right {
  position: absolute;
  right: 48pt;
  bottom: 48pt;
}

#real {

}
