#bg-graphic {
    width: 90vw;
    line-height: 0em;
    z-index: -10;
    display: flex;
    flex-wrap: wrap;
    padding-top: 48pt;
    text-align: justify;
    margin: auto;
    // transform: scale(3);
  #graphic {
    padding: 0px;
    // text-shadow: 10px 10px 50px rgba(0,0,0,.25);
    // text-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
    margin: 15pt 9pt 48pt 9pt;
    mix-blend-mode: multiply;
  }
}
