.project {
  width: calc(264pt);

  .dash {
    position: absolute;
    top: -9pt;
    right: 0pt;
    .edit {
      width: 16pt;
      height: 16pt;
      background: white;
      display: inline-block;
      text-align: center;
    }
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}
.size-24 {
  font-size: 24pt;
}
.size-12 {
  font-size: 12pt;
}
.sm-legend {
  color: white;
  height: 100%;
  span {
    font-size: 7pt;
    font-weight: bolder;
    padding: 1.75pt 3pt;
  }
  .red {
    box-shadow: 0pt 0pt 0pt 12pt red inset;
  }
  .blue {
    box-shadow: 0pt 0pt 0pt 12pt blue inset;
  }
  .green {
    box-shadow: 0pt 0pt 0pt 12pt green inset;
  }
}
.work-logo {
  display: inline-block;
  position: absolute;
  top: -7pt;
  left: 3pt;
  background: white;
  width: 19pt;
  height: 12pt;
  text-align: center;
}
