.card {
  position: relative;
  overflow: hidden;
  &:hover {
    .card-body {
      transition: all 350ms; opacity: 1; box-shadow: 0 .5rem 2rem rgba(0,0,0,1)!important;
      .card-title { transition-delay: 250ms; transition: all 350ms; opacity: 1; transform: translatex(0pt); }
      .card-text { transition-delay: 300ms; transition: all 500ms; opacity: 1; transform: translatex(0pt); }
    }
  }
  .card-img-top {
  }
  .card-body {
    position: absolute;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: grey;
    .card-title{
      opacity: 0;
      transform: translatex(-9pt);
    }
    .card-text{
      opacity: 0;
      transform: translatex(-9pt);
      text-align: justify;
    }
  }
}
