header {
  position: fixed;
  z-index: 100;
  top: 12pt;
  left: 24pt;
  padding: 6pt;
  transition: opacity 500ms ease-in-out;
  opacity: 1;
  &:hover &:active { opacity: 1 !important; }
  span { letter-spacing: 2pt; }
  h2 {
    font-size: 3em;
  }
  p { font-size: 1.25em;}
  .content {
    width: 276pt;
    margin-top: 6pt;
    background: rgba(255,255,255,0);
    padding: 24pt 24pt 48pt 24pt;
    box-shadow: 0pt 0pt 12pt rgba(0,0,0,0);
    transform: translateX(-312pt);
    transition: transform 300ms ease-in-out;
    &:hover {transform: translateX(-36pt); background: rgba(255,255,255,1); box-shadow: 0pt 0pt 12pt rgba(0,0,0,.25);}
  }
  h4 { transform: rotate(90deg); position: absolute; top: 25pt; right: -60pt; text-transform: uppercase; font-size:3em;}
  h6 { font-size: 14pt; }
}
