header {
  position: fixed;
  width: 100vw;
  top: -3pt;
  background: rgba(255,255,255,.95);
  z-index: 10;
  box-shadow: 0px 0px 24pt rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.05);
  h1 {
    text-align: center;
    font-size: 2em;
    margin: 0pt;
  }
  h6 {
    text-align: center;
  }
  .row {
    padding: 0pt 12pt 0pt 12pt;
    align-items : center;
  }
}
