header {
  position: fixed;
  z-index: 100;
  top: 24pt;
  left: 24pt;
  padding: 6pt;
  span { letter-spacing: 2pt; }
  h2 {
    font-size: 3em;
  }
  p { font-size: 1.25em;}
  .content {
    background: rgba(255,255,255,0);
    padding: 12pt 24pt 48pt 24pt;
    box-shadow: 0pt 0pt 12pt rgba(0,0,0,0);
    transform: translateX(-300pt);
    transition: all 300ms ease-in-out;
    &:hover {transform: translateX(-36pt); background: rgba(255,255,255,1); box-shadow: 0pt 0pt 12pt rgba(0,0,0,.25);}
  }
  h4 { transform: rotate(90deg); position: absolute; top: 12pt; right: -24pt;}
  h6 { font-size: 14pt; }
}
