#logo-c {
  display: table;
  transform: scale(.8);
  position: fixed;
  mix-blend-mode: exclusion;
  #logo_codesign {
    td {
      color: red;
      border: 2px solid;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      font-weight: bold;
    }
    tr:last-child td:last-child {
      border: 2px;
      color: black;
    }
  }
}
