// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// @import "config/grid";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

body {
  font-family: helvetica;
  overflow-x: hidden;
  background: rgba(255,255,255,.05);
}
@media (min-width: 768px) {
  .row {
    display: flex;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0pt;
  height: 0pt;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(000,000,255,.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255,000,000,.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,000,000,.5);
}
