// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// @import "config/grid";

@import "projects/projects";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

#edit {
  position: absolute;
  bottom: -36pt;
  right: 12pt;
}
/* width */
::-webkit-scrollbar {
  width: 0pt;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
